---
 const { title } = Astro.props;
---

<div class="logo">
  <a href="/" aria-label="{title}" class="logo-link">
    <svg viewBox="0 0 621 333" fill="none" xmlns="http://www.w3.org/2000/svg">
      <circle cx="320.5" cy="166.5" r="166.5" class="logo-circle"/>
      <path d="M190.73 63.1734C189.835 63.4721 189.86 65.5388 189.984 66.5347C192.596 69.8961 156.398 134.883 154.159 140.859C151.92 146.834 173.938 150.196 178.416 150.943C182.894 151.69 197.448 162.521 228.794 197.629C260.141 232.737 272.829 269.338 276.934 322C288.875 295.109 313.132 273.073 341.493 255.893C369.854 238.712 397.096 299.964 428.069 255.893C459.043 211.821 610.551 219.664 621 216.303C618.388 215.183 616.522 214.062 610.551 214.809C604.58 215.556 575.846 192.4 558.68 178.207C541.514 164.015 473.223 118.823 463.894 113.968C454.564 109.112 415.754 70.2696 412.023 66.1613C408.291 62.0529 388.139 47.8604 354.554 41.5111C320.968 35.1618 265.738 42.6316 254.543 44.499C243.348 46.3664 230.287 47.8604 223.57 49.3543C216.853 50.8483 199.313 60.1855 197.448 60.9324C195.582 61.6794 191.85 62.7999 190.73 63.1734Z" fill="#111827"/>
      <path d="M24.3001 99.3568C9.7307 107.124 3.36278 117.531 2 121.763C6.08835 118.402 13.5217 117.656 14.2651 117.656C51.8036 116.162 155.871 143.797 153.269 143.05C154.012 139.689 166.277 142.676 191.551 143.797C216.824 144.917 223.886 153.133 238.753 155C224.629 135.207 228.718 131.846 230.948 128.859C233.178 125.871 236.151 130.353 237.266 129.606C238.381 128.859 236.894 125.498 240.239 126.245C243.584 126.992 248.416 134.834 252.133 135.954C255.849 137.075 266.256 137.822 269.23 137.822C272.203 137.822 272.203 135.954 271.831 134.087C271.46 132.22 265.141 128.112 262.911 126.245C260.681 124.378 261.796 122.137 259.566 122.137C257.336 122.137 256.221 121.017 253.619 119.149C251.018 117.282 242.469 116.162 240.983 116.162C239.496 116.162 240.611 112.427 239.124 110.56C237.638 108.693 232.063 107.573 229.833 106.452C228.049 105.556 215.462 96.8672 209.391 92.6349C210.382 93.8797 212.067 96.5934 210.878 97.4896C209.391 98.61 191.551 89.6473 188.577 85.166C185.604 80.6846 196.011 74.3361 193.409 65C151.782 66.4938 42.5118 89.6473 24.3001 99.3568Z" fill="#7B6D8D" stroke="#111827" stroke-width="2"/>
      <path d="M299.714 114.028C287.509 110.413 288.178 96.2024 290.039 89.5491C290.039 88.6703 291.158 86.9925 293.837 84.8835C297.186 82.2473 309.615 76.4695 319.513 83.0005C324.428 86.2436 324.722 96.9348 323.156 102.73C322.268 106.02 314.97 118.548 299.714 114.028Z" fill="#F8F991"/>
      <path d="M167.162 77.4696C166.869 76.8738 167.04 76.4766 167.162 76.3525C168.259 75.2354 169.721 77.0972 171.549 77.4696C173.378 77.8419 177.034 77.4696 178.863 78.2143C180.691 78.959 183.616 83.0548 182.885 83.7996C182.154 84.5443 175.572 83.0548 173.378 81.9378C171.184 80.8207 172.281 80.4484 170.818 79.3313C169.355 78.2143 167.527 78.2143 167.162 77.4696Z" fill="black"/>
      <path d="M265 134C262.645 131.813 256.595 127.001 251.24 125.251C244.546 123.064 231.53 114.679 222.233 112.856C212.936 111.034 203.266 107.388 195.085 107.024C186.903 106.659 151.574 110.669 123.682 108.846C95.7906 107.024 90.2123 104.472 11 117.96" stroke="black" stroke-width="2"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M273.86 95.2285C273.736 95.3528 273.86 95.8251 275.351 96.72C276.822 97.6023 277.365 100.804 277.711 102.85C277.804 103.397 277.883 103.862 277.961 104.177C278.049 104.529 278.096 104.923 278.145 105.339C278.304 106.684 278.49 108.258 280.199 109.397C281.254 110.101 282.309 109.809 283.285 109.539C284.38 109.236 285.376 108.961 286.165 110.143C286.282 110.32 286.416 110.533 286.568 110.776C288.351 113.62 292.698 120.554 303.689 120.211C315.621 119.838 330.163 111.635 332.027 91.8727C329.044 77.3308 315.248 76.5851 308.91 77.3308C304.876 77.8054 297.973 81.6019 292.718 84.4924C289.715 86.1441 287.249 87.5 286.165 87.7711C283.182 88.5169 275.351 90.7541 273.86 95.2285ZM276.47 95.6014C277.464 95.6014 279.9 96.1234 281.69 98.2114C282.323 98.9493 282.955 100.283 283.722 101.901C285.669 106.007 288.484 111.943 294.368 114.618C302.571 118.346 311.892 116.482 317.858 112.008C323.824 107.533 326.434 99.7029 327.18 92.2455C324.197 85.1611 317.858 81.8052 315.248 81.4324C312.638 81.0595 302.571 79.9409 292.876 86.6525C286.029 91.393 282.344 91.6692 280.376 91.8166C279.557 91.878 279.036 91.917 278.707 92.2455C278.428 92.5252 278.078 92.8049 277.728 93.0845C276.68 93.9235 275.631 94.7624 276.47 95.6014Z" fill="#7B6D8D"/>
      <ellipse cx="304.5" cy="96" rx="8.5" ry="9" fill="#111827"/>
    </svg>

    <h1>
        The Grackle
    </h1>
  </a>
</div>

  <style lang="scss">
  @use '../style/mixins';

  .logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-decoration: none;

    @include mixins.query(phone) {
      flex-direction: column;
    }
  }

  svg {
    width: clamp(6rem, 8vw, 7rem);
  }

    h1 {
    color: var(--accent-primary);
    transition: color 300ms ease-out;
    font-family: var(--display);
    font-weight: 500;
    font-size: var(--font-3);
    letter-spacing: 0.075em;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
  }

  .logo-circle {
    transition: all 300ms ease-out;
    fill: currentColor;
    fill: var(--accent-primary);
  }

  .logo-link:hover > h1 {
    color: var(--lightgray);
  }
  </style>